{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Task manager app backend</h1>
    <p>This is a  Python application deployed to Heroku. It's a reasonably simple app - synchronizer of tasks. OnBacken Part there is a django REST . On frontend -> React client interface</p>
    <a type="button" class="btn btn-lg btn-default" href="https://dreamy-lewin-4a632d.netlify.app/"><span class="glyphicon glyphicon-flash"></span> Link to TODO app Frontend Part React App</a>
    <hr>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/tomaszd/django-todo-react"><span class="glyphicon glyphicon-download"></span> Source on GitHub of React Frontend</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/tomaszd/elephant"><span class="glyphicon glyphicon-download"></span> Source on GitHub of Django Backend</a>

  </div>
</div>
</div>
{% endblock %}
